@charset "UTF-8";
/*
*/ 

.cm-headerbg {
	background-color: #141524;
}

.cm-aboutbg {
	background-color: #21233B;
}

.cm-projectsbg {
	background-color: #18192b;
}

.cm-contactbg {
	background-color: #141524;
}

.cm-footerbg {
	background-color: #141524;
}

.cm-cardbg {
	background-color: #2A2A48;
}