@charset "UTF-8";
/*
*/ 

.cm-headerbg {
	background-color: #141524;
}

.cm-aboutbg {
	background-color: #1D1F34;
}

.cm-projectsbg {
	background-color: #1B1C30;
}

.cm-contactbg {
	background-color: #141524;
}

.cm-footerbg {
	background-color: #141524;
}

.cm-cardbg {
	background-color: #2A2A48;
}